/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}
.max-width{
  max-width: 1800px;
  padding: 0 80px;
  margin: auto;
}

/*navbar styling*/
.navbar {
  /* background: #FFA500; */
  position: fixed;
  width: 100%;
  z-index: 998;
  padding: 25px 0;
  font-family: Montserrat , sans-serif;
  transition: all 0.5s ease-out;

}
.navbar.sticky{
  padding: 30px 0;
  background: black;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .navbar .logo a img{
  font-size: 35px;
  color: #fff;
  font-weight: 600;
  height: 5px;
  width: 5px;
} */

.navbar .max-width .logo img{
  height: 37px;
  width: 102px;
  transform: rotate(-10deg);}

/*menu button styling*/
.menub{
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  display: none;

}

/*////////////////////////////////////////////////////////*/
/* .navbar .max-width .logo img{
  width : 30px;
  height: 30px;
  margin-left: 0px;
} */
/*////////////////////////////////////////////////////////*/

.navbar .menu li{
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-left: 25px;
  transition: color 0.7s ease-out;

}

.navbar .menu li a:hover{
  color: crimson;
}
/*home section styling*/

.home{
  display: flex;
  background: url("images/e.jpg") no-repeat center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  min-height: 500px;
  font-family: Montserrat , sans-serif;

}

.home .max-width{
  margin: auto 0 auto 40px;
}

.home .home-content .text-1{ font-size: 27px; font-weight: 700;}
.home .home-content .text-2{ font-size: 75px; font-weight: 700; margin-left: -3px;}
.home .home-content .text-3{
  font-size: 40px;
  margin: 5px 0;
  text-align: center;
  /* margin-top: 100px; */
  font-weight: 700;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 0px;
  border-radius: 5px;
}
.home .home-content .text-3 span{
  color: crimson;
  font-weight: 700;
}

/* about section styling   ------------------------------------------------------------------------------------------------*/
section{
  padding: 100px 0;
}
.about{
  background-color: black;
  font-family: Montserrat , sans-serif;
  }

.about .max-width .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: #fff;
}

.about .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 210px;
  height: 3px;
  background: white;
  transform: translateX(-50%);
}

.about .about-content{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left{
  width:45%;
}

.about .about-content .left img{
  height: 600px;
  width: 600px;
  object-fit: cover;}

/* .about .about-content .right .text{
  text-align: center;
  margin-bottom: 35px;
  font-size: 34px;
  color: crimson;
  font-weight: 400;
} */

.about .max-width .about-content .right .text{
  text-align: center;
  margin-bottom: 35px;
  font-size: 34px;
  color: crimson;
  font-weight: bold;
  text-decoration: underline;
}


.about .max-width .about-content .right p{
  color: #fff;
  font-weight: normal;
  font-size: 17px;
}



.about .max-width .about-content .right p a{
  color: #00e7ff;
}


.about .about-content .right{
  width:50%;
}

.about .about-content .right ul{
  color: #fff;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  font-size: 17px;
}

.about .about-content .right .cv a{

  display: inline-block;

  font-size: 15px;
  color: #fff;
  border-radius: 6px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: crimson;
  border: 2px solid crimson;
  transition: all 0.5s ease;
  margin-top: 50px;
  margin-left: 40%
}

.about .about-content .right .cv a:hover{
  color: crimson;
  background: none;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */

/* projects section styling */

/* .projects .max-width {background: white;} */

.projects{
  background-color: white;
  font-family: Montserrat , sans-serif;
  }

.projects .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #111;
}

.projects .desc{
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
  padding-bottom: 20px;
  margin-top: 0px;
  color: #111;
}


.projects .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 210px;
  height: 4px;
  background: black;
  transform: translateX(-50%);
}

.projects .carousel .card{
  background: #222;
  border-radius: 10px;
  padding: 100px 35px;
  text-align: center;
  color: white;
  overflow: hidden;
  transition: all 0.5s ease;
}


.projects .max-width .carousel .card .box p{
  color: white;
  font-weight: 600;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.projects .max-width .carousel .card .box p a{
  color: #D3D3D3;
  text-decoration: underline;
}


.projects .carousel .card .text{
  color: crimson;
  font-family: Montserrat , sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.projects .carousel .card:hover{
  background: black;
}

.projects .carousel .card:hover video{
  border-color: #fff;
  transform: scale(1.25);
  margin-bottom: 20px;
}


/*////////////////////////////video mask///////////////////////////////*/
.projects .carousel .card video{
  height: 225px;
  width: 225px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid crimson;
  transition: all 0.5s ease;

}
/*///////////////////////////////////////////////////////////*/

/* .projects .carousel{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} */



.projects .carousel .card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

  .owl-dots{
  text-align: center;
  margin-top: 20px;
  }

  .owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid crimson!important;
  transition: all 0.5s ease;
  }


  .owl-dot.active{width: 35px: border-radius:14px;}

  .owl-dot.active,
  .owl-dot:hover{
    background: crimson!important;

  }


  /* contact section styling */

  .contact{
    background-color: black;
    font-family: Montserrat , sans-serif;
    }

  .contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: #fff;
  }

  .contact .max-width p{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-weight: 600;
  }

  .contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 210px;
    height: 3px;
    background: white;
    transform: translateX(-50%);
  }

  .contact .contact-content .left{
    color: white;
  }

  .contact .contact-content .column{
    width: calc(50%-30px);
  }

  .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .contact .contact-content .text{
    font-size: 30px;
    margin-bottom: 30px;
  }

  .contact .contact-content .left p{
    text-align: justify;
    margin-bottom: 60px;
  }

  .contact .contact-content .left .icons{
    margin: 10px 0;
  }

  .contact .contact-content .left .row{
    display: flex;
    height: 65px;
    align-items: center;
    margin-left: 250px;
  }

  .contact .contact-content .row .info{
    margin-left: 30px;
  }

  .contact .contact-content .row i{
    font-size: 35px;
    color: crimson;
  }


  .contact .contact-content .info .head{
    font-size: 16px;
    font-weight: 600;

  }

  .contact .contact-content .info .sub-title{
    color: #D3D3D3;
  }



  .contact .contact-content .right{
    color: white;
  }

  .contact .contact-content .right .icons{
    margin: 10px 0;
  }

  .contact .contact-content .right .row{
    display: flex;
    height: 65px;
    align-items: center;
    margin-right: 275px;
  }

/*responvive media query*/
@media(max-width: 1300px){
  .home .max-width{margin-left: 0px;}
}

@media(max-width: 1300px){
  .about .about-content .left img{
    height: 350px;
    width: 350px;
  }
}


@media(max-width: 990px){
  .max-width{
    padding: 0 50px;
  }
}

@media(max-width: 900px){
    .menub{
  display: block;
  z-index: 999;
    }
    .menub i.active:before{
      content: "\f00d";}
  .navbar .menu{
    position: fixed;
    /* background: #111; */
    background: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    transition: all 0.8s;
    }
    .navbar .menu.active{
      left:0;}
    .navbar .menu li{
      display: block;}

    .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 28px;
      }
    .home .home-content .text-2{ font-size: 75px;}
    .home .home-content .text-3{ font-size: 35px;}

    .max-width{
      max-width: 800px;}

    .about .about-content .column{
      width: 100%}

    .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;}

      .about .about-content .right{
        flex: 100%;
      }
}

@media(max-width: 520px){
  /* .max-width{
    padding: 0 25px;
  } */
  .home .home-content .text-2{ font-size: 70px;}
  .home .home-content .text-3{ font-size: 32px;}
}
